<!DOCTYPE HTML>
<html>
	<head>
	{% load staticfiles %}
	<!--csslinks-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<!--js scripts-->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
	
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
  	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.3.13/parsley.min.js"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
	

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Eater+Caps" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Indie+Flower" />
<style type="text/css">
	.helptext{
		font-size: 12px;
		color: #03A9F4;
		font-family: "Indie Flower";
		/*opacity: 0;*/
	}
	.parsley-required{
		font-size: 12px;
		color: #03A9F4;
		font-family: "Indie Flower";
	}
	.parsley-custom-error-message{
		font-size: 12px;
		color: #03A9F4;
		font-family: "Indie Flower";

	}
	.my-heading{
		color: #03A9F4;		
	}

</style>


</head>
<body>
<script type="text/javascript">
	$().ready(function(){
	console.log('hi');
	$( "#id_DOB" ).datepicker({dateFormat: "yy-mm-dd",yearRange: "1990:" + new Date().getFullYear(),maxDate:'0'} );
});
</script>

<div class="row main-section">
			<!--homescreen-->
			<div class="col l8 homescreen">
				<img class="responsive-img" src="{% static 'images/home.jpg' %}">
			</div>
			
			<!--form-->
			<div class="col l4">
				<!--<div class="container">-->
				<ul class="collection with-header">
				<div class="row collection-header">
				<div class="col l2 s2 m2" style="padding:0px;">
				<img class="responsive-img" style="height:100%;width:100%;" src="{% static 'images/balloon2.png' %}"> 
				</div>
				<div class="col l8 s8 m8">
				<h4 style="font-family: Eater Caps; text-align:center;  color: #03A9F4;" ><text>e3 Store Maths</text>
				</h4>
				</div>
				<div class="col l2 s2 m2" style="padding:0px;">
				<img class="responsive-img" style="height:100%;width:100%;" src="{% static 'images/rsz_balloon.jpg' %}"> 
				</div>
				</div>


				<li class="collection-item">
					<div class = "row">
						<div class = "col s12">
							<ul class="tabs">
								<li class="tab col l6"><a class="active" href="#Login">Login</a></li>
								<li class="tab col l6"><a href="#SUR">Register</a></li>
		        				<li class="tab col l6"><a href="#BR">Schools</a></li>
		      				</ul>
		    			</div>
		    			<div id="Login" class="col s12">
							<form  id = "login_form1" class="col s12" method ='POST' action = '' data-parsley-validate>
							<form id = "login_form" method ='POST' action = ''  data-parsley-validate>
							{% csrf_token %}
			     	          Username: <input type="text" name="username" value="" size="50" data-parsley-required data-parsley-trigger="change" data-parsley-required-message="Username is required" />
            				<br />
            				Password: <input type="password" name="password" value="" size="50" data-parsley-required data-parsley-trigger="change" data-parsley-required-message="Password is required"/>
            				<br />
			    	

 


			    			<button class="col s12 waves-effect  light-blue waves-light btn-large" name='login'><i class="material-icons right" name = "login">send</i> Login  </button>
			    			



			    			</form>


			    	
			    	
			    	<div class="row">
      					<div class="input-field col s12">
          					<p class="margin right-align medium-small"><a class="modal-trigger" href="/app/forget">Forgot password ?</a>
          						<!--forgot password modal-->
          						
							  	<!--forgot password modal-->

          					</p>
      					</div>          
    				</div>
			    			</form>
			    		</div>
			    	





			    		<form  method="post" action="" data-parsley-validate>{% csrf_token %}
				    		<div id="SUR" class="col s12">
				    			<div class="row">
				        			<div class="input-field col s12">
				          				<input  id="username_reg" type="text" name="username"  data-parsley-required data-parsley-trigger="change" data-parsley-required-message="Enter user name"
				          				data-parsley-minlength="8" data-parsley-maxlength="20" >
				          				<label for="username_reg">Username</label>
				        			</div>
				    			</div>
				    			<div class="row">
				        			<div class="input-field col s6">
				          				<input id="passwordUserReg" type="password" name="password" data-parsley-required data-parsley-trigger="change" data-parsley-required-message="Enter password" 	>
				        				<label for="passwordUserReg">Password</label>
				        			</div>

				        			<div class="input-field col s6">
				          				<input id="passwordUserRegConf" type="password"  data-parsley-required data-parsley-trigger="change" data-parsley-equalto="#passwordUserReg"
				          				data-parsley-error-message="Password does not match" 	>
				        				<label for="passwordUserRegConf">Confirm Password</label>
				        			</div>
				        			</div>
				    			<div class="row">
				        			<div class="input-field col s6">
				          				<input  id="firstName" type="text"  name="firstname" data-parsley-required data-parsley-trigger="change" data-parsley-required-message="Enter first name" 	>
				          				<label for="firstName">First Name</label>
				        			</div>
				        			<div class="input-field col s6">
				          				<input  id="lastName" type="text"  name="lastname" data-parsley-required-message="Enter last name" 	 data-parsley-trigger="change" data-parsley-required/>
				          				<label for="lastName">Last Name</label>
				        			</div>
				    			</div>
				    			<div class="row">
				        			<div class="input-field col s12">
				          				<input  id="id_DOB" type="text" name="dob" data-parsley-required 
                                data-parsley-trigger='change'
                                data-parsley-pattern='^\d{4}\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01])$'
                                data-parsley-error-message='Enter a valid date'/>
				          				<label for="userAge">Date Of Birth(YYYY-MM-DD)</label>
				        			</div>
				        			
				        		</div>
				        		<div class="row">
				        			
					        		<div class="col s12">
					        				<div class="col s4"> 
											    
												<p>
												Gender
											    </p>
											 </div>

					        				<div class="col s4" name="mygroup"> 
											    
												<p>
													<input onchange="uncheckOther()" name="gendermale" type="radio" id="male" checked />
											      <label for="male">Male</label>
											    </p>
											    </div>
										    <div class="col s4">
											    <p>
											      <input  onchange="uncheckOther()" name="genderfemale" type="radio" id="female" />
											      <label for="female">Female</label>
											    </p>
										    </div>
					    			</div>
				    			</div>

				    			<div class="row">
				        			<div class="input-field col s12">
				          				<input  id="schoolName_user" type="text"  name="schoolname" data-parsley-required data-parsley-trigger="change" data-parsley-required-message="Enter school name">
				          				<label for="schoolName_user">School Name</label>
				        			</div>
				    			</div>
				    			
				    			<div class="row">
		        					<div class="input-field col s6">
			          					<input id="parentEmail" type="email"  name="email" data-parsley-required data-parsley-type="email" data-parsley-trigger="change" 
			          					data-parsley-error-message="Enter valid email address" 	>
			          					<label for="parentEmail" data-error="wrong" data-success="right">Email</label>
					        		</div>
					        		<div class="input-field col s6">
				          				<input  id="parentPhone" type="text"  name="phone" data-parsley-required  	data-parsley-type="number" data-parsley-trigger="change" data-parsley-minlength="10" data-parsley-maxlength="10" data-parsley-error-message="Enter a valid 10 digit phone number">
				          				<label for="parentPhone">Phone</label>
				        			</div>
					      		</div>

					      		<div class="row">
				        			<div class="input-field col s12">
				          				<button class="btn-large waves-effect light-blue waves-light col s12" type="submit" name="register">Register<i class="material-icons right">send</i>
  									</button>
				        			</div>
				    			</div>
				    		</div>
				    	</form>



			    		<!-- <div id="SUR" class="col s12">
			    			<form method = 'POST' action= '' data-parsley-validate>
			    			{% csrf_token %} 
			    			
			    			{{user_form.as_p}}

			    			<input  id="schoolName_user" type="text"  data-parsley-required data-parsley-trigger="change" data-parsley-required-message="Enter school name">
				          				
			    			{{profile_form.as_p}}
			    			
			          				
			 
			    			</form>
			    		</div> -->


			    		<div id="BR" class="col s12">

						<form enctype="multipart/form-data" id = "batch_registration_form" method ='post' action = '/app/batch'  data-parsley-validate>

							{% csrf_token %}
			     	          Admin Username: <input type="text" name="username" value="" size="50" data-parsley-required data-parsley-trigger="change" data-parsley-required-message="Username is required" />
            				<br />
            				Password: <input type="password" name="password" value="" size="50" data-parsley-required data-parsley-trigger="change" data-parsley-required-message="Password is required"/>
            				<br />
			    	
            				  <!-- <input type="file" name="data-file" data-parsley-filemaxmegabytes="1" data-parsley-trigger="change" data-parsley-fileextension='xlsx' > -->



 			    			{{batch_form.data_excel_file}}


 	          				<button style="margin-bottom:15px;margin-top:15px;" class="btn-large waves-effect light-blue waves-light col s12" type="submit" name="register">Register<i class="material-icons right">send</i>
							</button>
							<br>
						<a title="click here to download the excel template" href="/app/media/data.xlsx" download="data.xlsx"><!-- <img class="img-responsive"onMouseOver="this.src='../static/images/downloadsk1.png'" onMouseOut="this.src='../static/images/downloadsk.png'" src="../static/images/downloadsk.png"  onclick="this.src='../static/images/downloadsk.png'"  > -->Download the excel template</a><br>
						</div>
						</form>
						</div>
						<div class="extramargin" style="margin:10px;">
						

						</div>
			    		
			    	</div>
				</li></li></ul>

			</div>	
		</div>

	<footer class="page-footer">
	            <div class="row">
					<div class="col s12 m6 l3"><p><a class="grey-text text-lighten-4 right" href="">About Us</a></p></div>
					<div class="col s12 m6 l3"><p><a class="grey-text text-lighten-4 right" href="">Team</a></p></div>
					<div class="col s12 m6 l6"><p><a class="grey-text text-lighten-4 right" href="">Feedback @ : feedback@speel.com</a></p></div>
				</div>
           
          	<div class="footer-copyright">
            	Copyright 2016 IIT Bombay
            		<a class="grey-text text-lighten-4 right" href="#!">IIT Bombay</a>
            	</div>
          	
        </footer> 


<script type="text/javascript">

    
	var app = app || {};

// Utils
(function ($, app) {
    'use strict';

    app.utils = {};

    app.utils.formDataSuppoerted = (function () {
        return !!('FormData' in window);
    }());

}(jQuery, app));

(function ($, app) {
    'use strict';

    window.ParsleyValidator
        .addValidator('fileextension', function (value, requirement) {
            // the value contains the file path, so we can pop the extension
            var fileExtension = value.split('.').pop();

            return fileExtension === requirement;
        }, 32)
        .addMessage('en', 'fileextension', 'Enter a valid Excel file');

    window.Parsley
        .addValidator('filemaxmegabytes', {
            requirementType: 'string',
            validateString: function (value, requirement, parsleyInstance) {

                if (!app.utils.formDataSuppoerted) {
                    return true;
                }

                var file = parsleyInstance.$element[0].files;
                var maxBytes = requirement * 1048576;

                if (file.length == 0) {
                    return true;
                }

                return file.length === 1 && file[0].size <= maxBytes;

            },
            messages: {
                en: 'File Size must be less than 2MB'
            }
        });
}(jQuery, app));

(function ($, app) {
    'use strict';

    $('#batch_registration_form').parsley();
   
}(jQuery, app));

function uncheckOther(){
	if($('#male')[0].hasAttribute('checked'))
		$('#male').removeAttr('checked');
	else
		$('#male').attr('checked','checked');
	
	if($('#female')[0].hasAttribute('checked'))
		$('#female').removeAttr('checked');
	else
		$('#female').attr('checked','checked');
}



</script>


</body>
</html>